<form class="form-container" [formGroup]="userReactionForm" (ngSubmit)="onSubmit()">
  <h2>Kontakt</h2>
  <mat-form-field appearance="fill">
    <mat-label>Adres e-mail</mat-label>
    <input matInput formControlName="email" placeholder="email">
    <mat-error *ngIf="userReactionForm.get('email')?.hasError('required')">Musisz podać swój email</mat-error>
  </mat-form-field>

  <br>

  <mat-form-field appearance="fill">
    <mat-label>Wiadomość:</mat-label>
    <textarea matInput formControlName="yourMsg" placeholder="Twoja wiadomość..."  cdkTextareaAutosize></textarea>
    <mat-error *ngIf="userReactionForm.get('yourMsg')?.hasError('required')">Musisz podać treść wiadomości</mat-error>
  </mat-form-field>

  <br>

  <button type="submit" class="button" [disabled]="!userReactionForm.valid">Wyślij</button>
</form>
