<div class="sticky-elements-container">
  <div class="sticky-elements">
    <h2>Zakres usług</h2>
  </div>
</div>
<div class="sliding-items">
  <div class="item item--beige">
    <div class="img-container">
      <img src="assets/img/1.jpg">
    </div>
    <div class="text-container">
      <h3>Motywacja</h3>
      <p>Cras posuere elit euismod pretium commodo. Aliquam ligula arcu, hendrerit at dui sit amet, pharetra ultrices velit.
        Vestibulum nec mattis lectus, vitae vulputate nisl. Cras quis placerat dui, at dictum velit.
        Maecenas sit amet nisi sed tellus varius euismod nec sed justo. Integer consequat dui nec fermentum mollis.</p>
    </div>
  </div>
  <div class="item item--grey">
    <div class="img-container">
      <img src="assets/img/6.jpg">
    </div>
    <div class="text-container">
      <h3>Plany treningowe</h3>
      <p>Mauris quis dolor a metus accumsan sodales pharetra et diam. Suspendisse potenti. Nulla eu sem ex. Orci varius
        natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In consequat eros felis, nec efficitur
        nibh porttitor id. Pellentesque habitant morbi tristique.</p>
    </div>
  </div>
  <div class="item item--red">
    <div class="img-container">
      <img src="assets/img/5.jpg">
    </div>
    <div class="text-container">
      <h3>Porady dietetyczne</h3>
      <p>Phasellus libero est, hendrerit vitae gravida eu, efficitur in diam. Donec mollis elementum massa, et rutrum felis
        elementum in. Nunc in auctor diam, et feugiat odio. Sed scelerisque dolor quis sem dapibus fermentum. Nam ligula
        justo, sagittis nec lacus eu, maximus ultrices risus.</p>
    </div>
  </div>
</div>

