<mat-toolbar color="accent" class="nav-bar--desktop nav-bar--visible">
  <div class="navbar-container">
    <a class="icon-link" href="">
      <img class="logo" src="../../../assets/img/logo.svg">
    </a>
    <div class="links-container">
      <a class="subpage-link" href="">
        <p>Osiągnięcia</p>
      </a>
      <a class="subpage-link" href="">
        <p>Przemiany</p>
      </a>
      <a class="subpage-link" href="">
        <p>Galeria</p>
      </a>
      <a class="subpage-link" href="">
        <p>O mnie</p>
      </a>
      <a class="subpage-link subpage-link--with-bg" href="">
        <p>Umów trening</p>
      </a>
      <a class="subpage-link subpage-link--with-bg" href="">
        <p>Kontakt</p>
      </a>
    </div>
  </div>
</mat-toolbar>

<mat-toolbar color="accent" class="nav-bar--mobile nav-bar--visible">
  <div class="navbar-container">
    <a class="icon-link" href="">
      <img class="logo" src="../../../assets/img/logo.svg">
    </a>
    <button class="mat-button-toggle button button--clean" (click)="revealMobileMenu()">
      <img src="assets/img/icons/menu.png">
    </button>
    <div class="links-container">
      <a class="subpage-link" href="">
        <p>Osiągnięcia</p>
      </a>
      <a class="subpage-link" href="">
        <p>Przemiany</p>
      </a>
      <a class="subpage-link" href="">
        <p>Galeria</p>
      </a>
      <a class="subpage-link" href="">
        <p>O mnie</p>
      </a>
      <a class="subpage-link subpage-link--with-bg" href="">
        <p>Umów trening</p>
      </a>
      <a class="subpage-link subpage-link--with-bg" href="">
        <p>Kontakt</p>
      </a>
    </div>
  </div>
</mat-toolbar>
